# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/